
body{
  background-color: #02010a;
}
.contenido{
  width: 900px;
  margin: 0 auto;
}
.central{
  background: #82c3a6;
}
header {
  background: #5b7989;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  text-shadow: 2px,#02010a;
  overflow:hidden;
}
header h1{
  font-family: 'Dancing Script';
  float:left;
}
header nav{
  float:right;
}
header nav a{
  font-family: 'Dancing Script';
  display: inline-block;
  color: white;
  font-size: 20px;
  padding:30px 20px;
	line-height:normal;
}
header nav .posisicion{
text-decoration: none;
 }
.central #imagen1 img{
  width: 100%;
}
.contenedor{
  display: flex;
  flex-direction: row;
  background: #d5c75f;
}
.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 50%;
}
.contenedor div img{
  max-width: 90%;
  max-height: 90%;
  border: 1px solid;
}
figcaption{
  text-align: center;
  font-style: italic;
  text-decoration:underline;
  font-family: 'Dancing Script';
  font-size: 20px;
}
#imagen2 img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 0px 0px #82c3a6;
  border: 0px solid;
}
#imagen3 img:hover{
  transform: translate(20px, -5px);
  box-shadow: 2px 0px 0px #82c3a6;
  border: 0px solid;
}
footer{
  background: #C6d5c5;
	border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  text-shadow: 2px,#02010a;
  overflow:hidden;
}
.contenedorf{
  display: flex;
  flex-direction: row;
}
.contenedorf div {
  width: 225px;
  font-family: 'Dancing Script';
  float:left;
  padding-right:20px;
  padding-left: 20px;
  }
  .contenedorf h3{
  font-size: 20px;
}
.contenedorf img{
  max-width: 12%;
  max-height: 12%;
  }
  @media screen and (max-width:900px) {
    .contenido{
      width: 100%;
    }
    header{
      width: 100%;
    }
    header h1{
      float: none;
      text-align: center;
    }
    header nav{
      float:none;
      text-align: center;
    }
    .central{
      width: 100%;
    }
    .central figure{
      width: 100%;
    }
    .central figure img{
      max-width: 80%;
      max-height: 80%;
    }
    .imgcentral{
      width: 100%;
    }
    .central img{
      max-width: 90%;
      max-height: 90%;
    }
    .secundaria{
      width: 100%;
    }
    .contenedor{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .contenedor div{
      width: 100%;
    }
    .contenedorf{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .contenedor div img{
      max-width: 85%;
      max-height: 85%;
      padding-right: 10%;
      border: 0px solid;
      }
    footer{
      width: 100%;
    }
    footer div{
      width: 100%;
    }
  }
